Ice.Default.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9091

IceGrid.Node.Name=registry-node
IceGrid.Node.Data=/tmp/db/registry-node
IceGrid.Node.Endpoints=tcp

IceGrid.Node.CollocateRegistry=1
IceGrid.Registry.DynamicRegistration=1
IceGrid.Registry.Client.Endpoints=tcp -p 9091
IceGrid.Registry.Server.Endpoints=tcp
IceGrid.Registry.Internal.Endpoints=tcp
IceGrid.Registry.LMDB.Path=/tmp/db/registry

IceGrid.Registry.PermissionsVerifier=IceGrid/NullPermissionsVerifier
IceGrid.Registry.AdminPermissionsVerifier=IceGrid/NullPermissionsVerifier

IceGrid.Registry.DefaultTemplates=templates.xml